<div class="article-box max-w-xl mx-auto">
    <div>
        <h3 class="text-3xl"><%= article.title %></h3>
        <span><%= article.created_at %></span>
    </div>
    <div>
        <%= image_tag article.body.embeds.first.blob %>
    </div>
    <div class="btn-links">
        <%= link_to 'Read more', article_path(article), class: 'btn show' %>
        <%= link_to 'Edit article', edit_article_path(article), class: 'btn edit' %>
        <%= link_to 'Delete article', article_path(article), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn delete' %>
    </div>
</div>