<% provide(:title,@article.title) %>
<div class="">
    <div class="bg-gray-400 p-4 max-w-2xl mx-auto">
        <h1 class="text-3xl font-semibold mb-8"><%= @article.title %></h1>
        <%= @article.body %>
        <div class='py-8'>
            <%= link_to 'Back to articles', articles_path, class: 'btn back mr-2' %>
            <%= link_to 'Edit article', edit_article_path(@article), class: 'btn edit' %>
        </div>
    </div>
</div>


<div class="bg-gray-100 p-4 rounded-md mx-auto max-w-2xl">
    <h2 class="pb-2 text-xl">Add a comment:</h2>
    <%= render 'comments/form' %>
<% if @article.comments.count != 0 %>
    <div class="mt-12 pb-12">
        <h2 class="mb-8 text-xl">Comments:</h2>
        <%= render @article.comments %>
    </div>
<% end %>
</div>
