<% provide(:title,@article.title) %>

<div class="bg-gray-400 p-4 rounded-md">
    <h1 class="text-3xl font-semibold"><%= @article.title %></h1>
    <%= @article.body %>
</div>

<div class='p-4'>
    <%= link_to 'Back to articles', articles_path, class: 'btn back' %>
    <%= link_to 'Edit article', edit_article_path(@article), class: 'btn edit' %>
</div>

<div class="bg-gray-100 p-4 rounded-md">
    <h2 class="pb-2">Add a comment:</h2>
    <%= render 'comments/form' %>
</div>

<% if @article.comments.count != 0 %>
    <h2 class="pd-2">Comments:</h2>
    <%= render @article.comments %>
<% end %>